:root {
  /*tertiary*/
  --t: #77da77;
  /*faded-tertiary*/
  --ft: #479647;
}

footer,header  {
  height: 10vh;
}
a {
  color: var(--t);
}
a:visited {
  color: var(--ft);
}

.showcase-widget {
  display: inline-flex;
  padding: 30px 30px;
  width: calc(200px + 10vw);
  height: calc(200px + 10vw);
  margin: max(5vh, 30px) 2vw;
  border-radius: 50px;
  box-shadow: calc(10px + 0.5vw) calc(10px + 0.5vw) calc((200px + 10vw) / 12) #171717, calc(-10px - 0.5vw) calc(-10px - 0.5vw) calc((200px + 10vw) / 12) #272727;
  justify-content: space-between;
  flex-direction: column;
}
.showcase-desc {
  font-size: min(calc(25px + 1vmin), calc(13px + 1vw));
}
.showcase-button {
  margin-left: auto;
  border: 0;
  align-self: stretch;
  width: 100px;
  height: 60px;
  background: #77da77;
  border-radius: 25px;
  transition: 0.35s;
}
.showcase-button:hover {
  background: rgb(95, 174, 95);
  transition: 0.35s;
}

.searchbar {
  display: inline-flex;
}
.searchbar-input {
  font-size: calc(13px + 0.5vw);
  padding: 10px 15px;
  border-radius: 20px 0 0 20px;
  border: 0;
  outline: none;
}
.searchbar-button {
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 0;
  border: 0;
  outline: none;
  padding-right: 12px;
  padding-top: 5px;
}
.searchbar-icon {
  height: calc(13px + 0.5vw + 5px);
}